/* Place CSS styles here */
* {
    box-sizing: border-box;
  }
  :root {
    --background-color: black;
    --text-color: white;
  }
  body {
    height: 100vh;
    margin: 0px

  }
  .wrapper {
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: 'Trispace', sans-serif;
    font-size: clamp(1.5rem, 1rem + 18vw, 15rem);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color);
  }
  
  .wrapper > div {
    grid-area: 1/1/-1/-1;
  }
  .top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
  }
  .bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(177deg, rgb(67, 19, 84) 53%, var(--text-color) 65%);
    background: linear-gradient(177deg, rgb(57, 20, 68) 53%, var(--text-color) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em);
  }
  .p{
    font-size: largerSS;
  }
  *, *::before, *::after { box-sizing: border-box; }
body { 
  margin: 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color; border-block-start-color: rgb(0, 0, 0);
}
.text--glitch {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 6rem;
  font-weight: 700;
  position: relative;
  letter-spacing: .025em;
  text-transform: uppercase;

  
  text-shadow: .05em 0 0 rgba(255, 0, 0, .75),
              -.05em -.025em 0 rgba(0, 255, 0, .75),
              .025em .05em 0 rgba(0, 0, 255, .75);
  
  animation: glitch 525ms infinite;
}

.text--glitch::before, 
.text--glitch::after {
  content: attr(data-text);
  position: absolute;
  letter-spacing: .025em;
  top: 0;
  left: 0;
  opacity: .7;
}
.text--glitch::before {
  animation: glitch 675ms infinite;
  transform: translate(-.035em, -.025em);
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}
.text--glitch::after {
  animation: glitch 333ms infinite;
  transform: translate(.035em, .025em);
  clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
}

@keyframes glitch {
  0% {
    text-shadow: .05em 0 0 rgba(255, 0, 0, .75),
                -.05em -.025em 0 rgba(0, 255, 0, .75),
                .025em .05em 0 rgba(0, 0, 255, .75);
  }
  14% {
    text-shadow: .05em 0 0 rgba(255, 0, 0, .75),
                -.05em -.025em 0 rgba(0, 255, 0, .75),
                .025em .05em 0 rgba(0, 0, 255, .75);
  }
  15% {
    text-shadow: -.05em -.025em 0 rgba(255, 0, 0, .75),
                .025em .025em 0 rgba(0, 255, 0, .75),
                -.05em -.05em 0 rgba(0, 0, 255, .75);
  }
  49% {
    text-shadow: -.05em -.025em 0 rgba(255, 0, 0, .75),
                .025em .025em 0 rgba(0, 255, 0, .75),
                -.05em -.05em 0 rgba(0, 0, 255, .75);
  }
  50% {
    text-shadow: .025em .05em 0 rgba(255, 0, 0, .75),
                .05em 0 0 rgba(0, 255, 0, .75),
                 0 -.05em 0 rgba(0, 0, 255, .75);
  }
  99% {
    text-shadow: .025em .05em 0 rgba(255, 0, 0, .75),
                .05em 0 0 rgba(0, 255, 0, .75),
                 0 -.05em 0 rgba(0, 0, 255, .75);
  }
  100% {
    text-shadow: -.025em 0 0 rgba(255, 0, 0, .75),
                -.025em -.025em 0 rgba(0, 255, 0, .75),
                -.025em -.05em 0 rgba(0, 0, 255, .75);
  }
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  }

html, body {
  height: 100%;
  }
  body {
    text-align: center;
    background-color:black;
    }
  body:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    height: 100%;
    }

h1 {
  color: white;
  font-family: 'Poppins', sans-serif;;
  font-size: 6em; 
  }
  .animate-charcter {
     text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
        font-size: 190px;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
  }

.hvr-radial-out {
  padding-left: 80px;
  padding-right: 80px;
  font-family: 'Trispace', sans-serif;
  font-weight: 700;
  font-size: xx-large;
  color: hsla(230,40%,50%,1);;
  display: inline-block;
  font-size: xxx-large; 
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white

}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
  
}
